* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
}
.span{
    font-family: Poppins;
font-weight: 700;
font-size: 36px;
line-height: 180%;
letter-spacing: 0%;
color: #2F327D;
text-align: center;
}
.our{
    color: #F48C06;
}
.main{
    margin-top: 100px;
    justify-content: center;
    align-items: center;
  display: flex;
  flex-wrap: wrap;

}
.zx{
    text-align: center;
    padding-top: 10px;
    font-family: Poppins;
font-weight: 400;
font-size: 24px;
line-height: 180%;
letter-spacing: 0%;
text-align: center;
color: #696984;
}
.for{
    font-family: Poppins;
font-weight: 600;
font-size: 40px;
color: #2F327D;
line-height: 160%;
letter-spacing: 0%;

}
.has{
    font-family: Poppins;
font-weight: 400;
font-size: 20px;
color: #2F327D;
line-height: 180%;
letter-spacing: 2%;

}
.card{
  padding-top: 150px;
  padding-left: 150px;
  display: flex;
  align-items: center;
  gap: 300px;
}
.pl{
height: 300px;
}
